body {
    background-color: var(--backgroud-color);
}

.App {
    display: flex;
    height: 98vh;
    margin: 0.5vh 5px 1.5vh 5px;
    border-radius: 20px;
    background-color: white;
}

@media (max-width: 800px) {
    .App {
        flex-direction: column;
        height: unset;
        width: calc(100vw - 10px)
    }
}