.component-3 {
    margin-left: 50px;
    margin-top: 20px;
}

.component-3 > .retirement-strategy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}

.component-3 > .retirement-strategy > .retirement-settings {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #adadad87;
    gap: 15px;
    width: 100%;
    padding: 15px 0;
}

.retirement-settings > .retirement-setting {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.retirement-setting > .range-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.component-3 > .retirement-strategy > .retirement-stats {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.retirement-stats > .retirement-stat {
    display: flex;
    justify-content: space-between;
}

.retirement-strategy a {
    align-self: center;
}

.component-3 > .houseing-advance-ad {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    border-left: 1px solid var(--blue);
    padding: 10px 20px;
    flex-direction: column;
}
