.component-2 {
    display: flex;
    flex-direction: column;
    width: 485px;
    margin-left: 85px;
    margin-top: 20px;
}

.component-2 > .goal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 22%;
}

.component-2 > .goal > .goal-headings {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.component-2 > .goal > .goal-stats {
    display: flex;
    gap: 20px;
}

.goal-stats > .goal-stat {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    gap: 8px;
    padding: 10px 0;
    border-bottom: 1px solid var(--blue);
}

.component-2 > .graph-component {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 35px;
}


.component-2 > .graph-component > .graph {
    height: 30vh;
}

.component-2 > .peers-comparison {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.peers-comparison > p {
    margin-bottom: 5px;
}

.peers-comparison > .peers-comparison-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-top: 20px;
}


.peers-comparison-stats > .comparison-settings {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.comparison-settings > .comparison-setting {
    display: flex;
    padding: 10px 0;
    gap: 5px;
    align-items: baseline;
    border-bottom: 1px solid #adadad87;
}

.comparison-setting > select {
    font-weight: 500;
    border: unset;
    background-color: unset;
}

.comparison-setting:last-child {
    border-bottom: none;
}

.peers-comparison-stats > .comparison-donuts {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.comparison-donuts > .comparison-donut {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.comparison-donut > p {
    font-weight: unset;
}


.donut-parent {
    height: 80px;
    aspect-ratio: 1/1;
}

/* handle custom legend for graph */
.legends {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.legends > .label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}
.label > .label-icon {
    width: 15px;
    height: 10px;
    border-radius: 10px;
}

.legends > :nth-child(1) > .label-icon {
    background-color: var(--dark-blue);
}
.legends > :nth-child(2) > .label-icon {
    background-color: var(--blue);
}
.legends > :nth-child(3) > .label-icon {
    background-color: var(--light-blue);
}



/* media queries */

@media (min-width: 1400px) {
    .component-2 {
        width: 45%;
    }
}

@media (min-width: 1300px) {
    .component-2 {
        width: 580px;
    }

    .component-2 > .goal {
        gap: 10px;
    }

    .component-2 > .graph-component {
        gap: 10px;
    }

    .goal-stat > :first-child {
        font-size: 1rem;
    }

    .peers-comparison > .peers-comparison-stats {
        margin-top: 10px;
        gap: 50px;
    }
    .peers-comparison > .peers-comparison-stats > .comparison-donuts {
        width: 70%;
    }

    .donut-parent {
        height: 90px;
        aspect-ratio: 1/1;
    }
}

@media (max-width: 1250px) {
    .component-2 {
        width: 450px;
        margin-left: 65px;
    }
    .component-2 > .goal {
        gap: 15px;
        height: 20%;
    }
    .legends > .label {
        gap: 5px;
        padding: 5px 0;
    }
}

@media (max-width: 1200px) {
    .component-2 {
        width: 450px;
        margin-left: 35px;
    }

    .component-2 > .goal {
        gap: 20px;
    }

    .component-2 > .graph-component {
        gap: 7px;
    }

    .goal-stat > :first-child {
        font-size: 1rem;
    }

    .peers-comparison > .peers-comparison-stats {
        margin-top: 8px;
        gap: 45px;
    }

    .donut-parent {
        height: 70px;
        aspect-ratio: 1/1;
    }
}

@media (max-width: 1150px) {
    .component-2 {
        width: 400px;
        margin-left: 30px;
    }

    .component-2 > .goal {
        gap: 5px;
    }

    .component-2 > .graph-component {
        gap: 5px;
    }

    .goal-stat > :first-child {
        font-size: .95rem;
    }

    .peers-comparison > .peers-comparison-stats {
        margin-top: 6px;
        gap: 40px;
    }

    .donut-parent {
        height: 60px;
        aspect-ratio: 1/1;
    }
}
@media (max-width: 1000px) {
    .component-2 {
        width: 380px;
        margin-left: 20px;
    }

    .component-2 > .goal {
        gap: 4px;
    }

    .component-2 > .graph-component {
        gap: 4px;
    }

    .goal-stat > :first-child {
        font-size: .9rem;
    }

    .peers-comparison > .peers-comparison-stats {
        margin-top: 5px;
        gap: 35px;
    }

    .donut-parent {
        height: 60px;
    }
}


@media (max-width: 800px) {
    .component-2 {
        width: 86%;
    }
    .goal {
        height: unset;
    }
    .goal-headings > .heading-small {
        font-size: 1.2em;
    }

    .goal-headings > .heading-large {
        font-size: 1.6em;
    }
    .goal > .goal-stats  {
        flex-flow: row wrap;
        gap: 10%;
        justify-content: space-between;
        width: 90%;
    }
    .goal-stats > .goal-stat {
        width: 45%;
    }
    
    .goal-stats > :first-child {
        width: 100%;
        padding-top: 30px;
    }

    /* digits */
    .goal-stats > .goal-stat > h3 {
        font-size: 1.5em;
    }

    .goal-stats > :first-child > h3 {
        font-size: 2em;
    }

    .goal-stat > p {
        font-size: 0.8em;
    }
    .component-2 > .graph-component {
        height: unset;
        margin-top: 70px;
    }

    .peers-comparison > .text-small {
        font-size: 0.75em;
    }

    .component-2 > .graph-component > .graph  {
        height: 230px;
    }

    .component-2 > .peers-comparison {
        margin-top: 40px;
    }

    .peers-comparison > .peers-comparison-stats {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        padding-bottom: 30px;
    }

    .peers-comparison-stats >.comparison-settings {
        width: 90%;
    }

    .comparison-settings > .comparison-setting > label {
        width: 25%;
    }
    .peers-comparison-stats > .comparison-donuts {
        width: 90%;
        align-self: center;
    }

    .donut-parent {
        height: 100px;
    }

    .legends > .label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 15px;

    }

}