.component-2 {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 50px;
    margin-top: 20px;
    gap: 20px;
}

.component-2 > .goal {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.component-2 > .goal > .goal-headings {
    display: flex;
    flex-direction: column;
}

.component-2 > .goal > .goal-stats {
    display: flex;
    gap: 20px;
}

.goal-stats > .goal-stat {
    width: calc(100%/3);
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid var(--blue);
}

.component-2 > .graph-component {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.component-2 > .graph-component > .graph {
    height: 200px;
}

.component-2 > .peers-comparison {
    display: flex;
    flex-direction: column;
}

.peers-comparison > .peers-comparison-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.peers-comparison-stats > .comparison-settings {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.comparison-settings > .comparison-setting {
    display: flex;
    padding: 10px 0;
    gap: 5px;
    border-bottom: 1px solid #adadad87;
}

.comparison-setting:last-child {
    border-bottom: none;
}

.peers-comparison-stats > .comparison-donuts {
    display: flex;
    justify-content: space-between;
}

.comparison-donuts > .comparison-donut {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donut-parent {
    height: 100px;
    width: 100px;
}