.component-3 {
    margin-left: 85px;
    margin-top: 20px;
}

.component-3 > .retirement-strategy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 230px;
    height: 400px;
    padding: 15px;
    background-color: var(--background-color);
    justify-content: space-around;
    border-radius: 10px;

}

.component-3 > .retirement-strategy > .retirement-settings {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #adadad87;
    gap: 15px;
    width: 100%;
    padding-bottom: 15px;
}

.retirement-settings > .retirement-setting {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.retirement-setting > .range-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.component-3 > .retirement-strategy > .retirement-stats {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.retirement-stats > .retirement-stat {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.retirement-strategy > button {
    padding: 10px;
}

.retirement-strategy a {
    text-decoration: unset;
    font-weight: bolder;
    color: var(--blue);
    margin-bottom: 10px;
    align-self: center;
}

.component-3 > .houseing-advance-ad {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    border-left: 1px solid var(--blue);
    padding: 10px 20px;
    flex-direction: column;
}

.retirement-strategy > button {
    font-weight: unset;
}

.houseing-advance-ad > a {
    text-decoration: unset;
    font-weight: bolder;
    color: var(--blue);
}

@media (max-width: 1250px) {
    .component-3 {
        margin-left: 50px;
    }
    .component-3 > .retirement-strategy {
        gap: 15px;
        width: 220px;
        height: 350px;
        padding: 15px;
    }
    .component-3 > .houseing-advance-ad {
        margin-top: 30px;
        gap: 10px;
        padding: 6px 15px;
    }
}

@media (max-width: 1100px) {
    .component-3 {
        margin-left: 30px;
        margin-right: 20px;
    }
    .component-3 > .retirement-strategy {
        gap: 10px;
        width: 220px;
        height: 300px;
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .component-3 {
        margin: unset;
        width: 90%;
        align-self: center;
    }
    .component-3 > .retirement-strategy {
        width: 100%;
        height: unset;
        padding: 20px;
        background-color: var(--background-color);
        margin-bottom: 13vh;
    }

    .retirement-strategy > .heading-medium {
        padding-bottom: 20px;
    }

    .component-3 .text-medium {
        font-size: .9em;
        font-weight: bold;
    }

    .retirement-settings > .retirement-setting {
        gap: 20px;
    }

    .component-3  > .retirement-strategy > .retirement-stats {
        padding-top: 15px;
        gap: 20px;
    }

    .component-3 > .retirement-strategy > button {
        margin-top: 10px;
        padding: 15px;
    }

}