.component-1 {
    display: flex;
    flex-direction: column;
    width: 330px;
    background-color: var(--background-color);
    align-items: center;

}

.component-1 > div {
    width: 65%;
}

.component-1 > .user-info {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 15px;
}

.component-1 > .user-info > .user-image > img {
    object-fit: cover;
    border-radius: 50px;
    width: 50px;
    aspect-ratio: 1/1;
    box-shadow: -5px 5px 15px 2px rgba(0, 0, 0, 0.138);

}

.component-1 > .greeting {
    display: flex;
    flex-direction: column;
}

.component-1 > .account-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}


/* money balace for each */
.account-info :nth-child(1) {
    font-weight: bolder;
}

.account-info > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.account-info > button {
    display: flex;
    width: 120px;
    align-items: center;
}

.account-info > button > span {
    padding-top: 3px;
    font-weight: unset;
}

.component-1 > .recent-transactions {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.component-1 > .recent-transactions > .transaction {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #adadad87;
}


/* Media queries */
@media (min-width: 1400px){
    .component-1 {
        width: 350px;
        padding-top: 20px;
    }

    .component-1 > div {
        width: 80%;
    }

    .component-1 > .user-info > .user-image > img {
        width: 60px;
        aspect-ratio: 1/1;
    }

    .component-1 > .account-info {
        gap: 16px;
        margin-top: 35px;
    }
    
    .component-1 > .recent-transactions {
        margin-top: 30px;
        gap: 16px;
    }
    
    .component-1 > .recent-transactions > .transaction {
        gap: 10px;
        padding-bottom: 12px;
    }

    /* money balace for each */
    .account-info :nth-child(1) {
        font-weight: bolder;
        font-size: 1.1em;
    }

    .account-info > .heading-small {
        font-size: 1em;
    }
}

@media (min-width: 1300px){
    .component-1 {
        width: 320px;
        padding-top: 16px;
    }

    .component-1 > div {
        width: 80%;
    }

    .component-1 > .user-info > .user-image > img {
        width: 58px;
    }

    .component-1 > .account-info {
        gap: 14px;
        margin-top: 30px;
    }
    
    .component-1 > .recent-transactions {
        margin-top: 25px;
        gap: 14px;
    }
    
    .component-1 > .recent-transactions > .transaction {
        gap: 9px;
        padding-bottom: 10px;
    }

    /* money balace for each */
    .account-info :nth-child(1) {
        font-weight: bolder;
        font-size: 1.08em;
    }

    .account-info > .heading-small {
        font-size: .97em;
    }
}


@media (max-width: 1250px) {
    .component-1 {
        width: 290px;
    }
    .component-1 > div {
        width: 70%;
    }
    .component-1 > .account-info {
        gap: 12px;
        margin-top: 20px;
    }

}
@media (max-width: 1200px) {
    .component-1 {
        width: 330px;
    }

    .component-1 > .user-info {
        gap: 12px;
    }

    .component-1 > .user-info > .user-image > img {
        width: 45px;
        aspect-ratio: 1/1;
    }

    .component-1 > .account-info {
        gap: 13px;
        margin-top: 27px;
    }
    
    .component-1 > .recent-transactions {
        margin-top: 20px;
        gap: 13px;
    }
    
    .component-1 > .recent-transactions > .transaction {
        gap: 5px;
        padding-bottom: 8px;
    }

    /* money balace for each */
    .account-info :nth-child(1) {
        font-weight: bolder;
        font-size: 0.9em;
    }

    .account-info > .heading-small {
        font-size: 0.85em;
    }
}

@media (max-width: 1000px){
    .component-1 > div {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .component-1 {
        min-height: 85vh;
        padding-top: 60px;
        width: 100%;
        background-color: white;
        border-radius: 20px;
    }
    .component-1 > div {
        width: 86%;
    }
    .component-1 > .user-info > .greeting :first-child {
        font-size: 2em;
    }
    .component-1 > .user-info > .user-image > img {
        width: 70px;
    }
    .component-1 > .account-info {
        margin-top: 40px;
        flex-direction: row;
        flex-flow: row wrap;
        background-color: var(--background-color);
        padding: 40px 20px;
        border-radius: 20px;
    }
    .account-info > :nth-child(1), .account-info > :nth-child(2) {
        width: 100%;
    }
    .account-info > :first-child {
        font-size: 1em;
    }
    .account-info > :nth-child(2) > :first-child {
        font-size: 2.5em;
    }
    .account-info > .account-balance{
        padding-bottom: 30px;
    }
    .account-info > div {
        padding-bottom: 20px;
    }
    .account-info > .contribution > h4, .account-info > .total-interest > h4 {
        font-size: 1.5em;
    }
    .account-info > button {
        width: 100%;
        justify-content: center;
        padding: 20px;
        font-weight: 600;
    }
    .component-1 > .recent-transactions {
        margin-top: 30px;
        background-color: var(--background-color);
        padding: 40px 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .recent-transactions > p {
        font-size: 1.2em;
        padding-bottom: 20px;
    }
}

