* {
    --dark-blue: #0800a3;
    --blue: #4935ff;
    --light-blue: #85afff;
    --btn-blue: #3e2edf;
    --secondary: #adadad;
    --background-color: #fafafa;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bitter", sans-serif;
    letter-spacing: 0.5px;

}

.btn-primary {
    border: unset;
    background-color: var(--btn-blue);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.text-secondary {
    color: var(--secondary);
}

.text-primary {
    color: var(--btn-blue);
}

.bolder {
    font-weight: bolder;
}

.text-small {
    font-size: 0.65rem;
}

.text-medium {
    font-size: 0.7em;
    font-weight: bolder;
}

.text-large {
    font-size: 0.9em;
}

.heading-small {
    font-size: 0.8em;
    font-weight: bolder;
}

.heading-medium {
    font-size: 0.9em;
    font-weight: bolder;
}

.heading-large {
    font-size: 1.2em;
    font-weight: bolder;
}

.heading-extra-large{
    font-size: 1.5em;
    font-weight: bolder;
}


@media (min-width: 1400px){
    .text-small {
        font-size: .65em;
    }
    .text-medium {
        font-size: .7em;
    }
    .text-large {
        font-size: 1.2em;
    }
}

@media (max-width: 1250px) {
    .text-large {
        font-size: 0.8em;
    }
    .heading-medium {
        font-size: 0.85em;
    }
    .heading-large {
        font-size: 1.1em;
    }
    .heading-extra-large {
        font-size: 1.2em;
    }
    .text-medium {
        font-size: 0.6em;
    }
}

@media (max-width: 1100px){
    .text-small {
        font-size: 0.55em;
    }
    .text-large {
        font-size: 0.68em;
    }
    .heading-medium {
        font-size: 0.8em;
    }
    .heading-large {
        font-size: 1.05em;
    }
    .heading-extra-large {
        font-size: 1.1em;
    }
    .text-medium {
        font-size: 0.58em;
    }
}

@media (max-width: 1000px){
    .text-small {
        font-size: 0.45em;
    }
    .text-large {
        font-size: 0.64em;
    }
    .heading-medium {
        font-size: 0.75em;
    }
    .heading-large {
        font-size: 1em;
    }
    .heading-extra-large {
        font-size: 1.05em;
    }
    .text-medium {
        font-size: 0.48em;
    }
}
/* for smaller devices */

@media (max-width: 800px) {
    .text-small {
        font-size: 0.9em;
    }
    .text-medium {
        font-size: 1em;
    }
    .heading-medium {
        font-size: 1.2em;
    }
}